.header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    .conteiner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 30px;
        position: relative;
    }
}

.header_logo {
    display: flex;
    align-items: center;

        a {
            margin-right: 10px;
            max-width: 29px;
            max-height: 29px;

            &:active {
                font-weight: 700;
            }
        }

        .text_logo {
            color: $primary-font-color;
            font-size: 18px;
            line-height: $primary-line_heigt;
            font-weight: 700;
        }
}

.header_nav {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    max-width: 445px;

    a {
        text-transform: uppercase;
        transition: all 0.2s linear;

        &:hover {
            font-weight: 700;
        }

        &:active {
            font-weight: 700;
        }
    }    
}

