.main_sale {
    background-image: url(/image/Bg_main.png);
    min-height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;

    p {
        max-width: 540px;
        color: $primary-font-color;
        font-size: 24px;
        line-height: $secondary-line_heigt;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 40px;

        @media (max-width: 768px) {
            font-size: 16px;
        }
    }
}
//section2//
.main_features {
    background-color: #FAFAFA;
    .conteiner {
        @extend %rounded_flex;
    }

    h2 {
        margin-top: 63px;
        margin-bottom: 63px;

        @media (max-width: 1100px) {
            margin-top: 30px;
            margin-bottom: 30px;
        }
    }
}
.main_features_nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 124px;
    
    @media (max-width: 1100px) {
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 30px;
    }
}
.main_features_box {
    @extend %rounded_flex;

    @media (max-width: 1100px) {
        margin-bottom: 20px;
    }
}
.main_features_text {
    @extend %rounded_flex;
    max-width: 293px;
    min-height: 193px;
    justify-content: space-around;
    border-radius: 8px;
    background: $primary-font-color;
    margin-top: -95px;

    p {
        text-align: center;
        color: $secondary-font-color;
    }

    h3 {
        text-align: center;
        color: $secondary-font-color;
    }

    a{
        color: #ED4C5C;

        &:hover {
            color: $secondary-font-color;
            background-color: #ED4C5C;
            border-radius: 2px;
        }
    }
}
.main_features_logo {
    display: block;
    max-width: 350px;
}

//section3
.main_technology {
    .conteiner {
        @extend %rounded_flex;
        margin-bottom: 104px;

        @media (max-width: 768px) {
            margin-bottom: 30px;
        }
    }

    h2 {
        margin-top: 63px;
        margin-bottom: 52px;
        
        @media (max-width: 768px) {
        margin-top: 30px;
        margin-bottom: 30px;
        }
    }
}
.main_technology_nav {
    display: flex;
    justify-content: space-between;
    width: 100%;

    @media (max-width: 768px) {
        flex-wrap: wrap;
        justify-content: space-around;
    }
}
.main_technology_box {
    max-width: 255px;
}

.main_technology_img_number {
    @extend %rounded_flex;
    margin-bottom: 8px;
    
    img {
        max-height: 50px
    }
}

.main_technology_text {
    @extend %rounded_flex;
    text-align: center;
    max-width: 191px;

    a {
        margin-bottom: 10px;

        &:hover {
            color: $secondary-font-color;
            background-color: #ED4C5C;
            border-radius: 2px;
        }
    }
}
.main_technology_logo {
    margin-top: -50px;
}


.main_technology_number {
    font-size: 100px;
    line-height: $primary-line_heigt;
    color: #10101014;
}