.header_button {
    @extend %rounded_button;
    min-width: 100px;
    padding: 10px 15px;
    background: transparent;
    color: $primary-font-color;
    transition: all 0.2s linear;
    text-align: center;

    &:hover {
        color: $secondary-font-color;
        background-color: $primary-font-color;
        }
    @media (max-width: 768px) {
        padding: 5px 15px;
        min-width: 80px;
    }
}
.main_button {
    @extend %rounded_button;
    min-width: 160px;
    padding: 15px 50px;
    font-weight: 700;
    color: #ED4C5C;
    background-color: #fff;
    transition: all 0.2s linear;

    &:hover {
        color: $primary-font-color;
        background-color: $secondary-font-color;
    }

    @media (max-width: 768px) {
        padding: 10px 20px;
        min-width: 120px;
    }
}

.conteiner {
    max-width: $container-size;
    padding: $container-padding;
    margin: 0 auto;

    @media (max-width: 1390px) {
        padding: 0 100px;
    }

    @media (max-width: 1260px) {
        padding: 0 50px;
    }
    @media (max-width: 1160px) {
        padding: 0 15px;
    }
}