.conteiner {
    max-width: $container-size;
    padding: $container-padding;
    margin: 0 auto;

    @media (max-width: 1390px) {
        padding: 0 100px;
    }

    @media (max-width: 1260px) {
        padding: 0 50px;
    }

    @media (max-width: 1160px) {
        padding: 0 15px;
    }
}