@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
    font: 400 12px/1.5 'Lato', 'Arial', 'Helvetica', sans-serif;
}

h1 {
    @extend %rounded_h;
    color: $primary-font-color;
    font-size: 72px;
    text-transform: uppercase;

    @media (max-width: 768px) {
        font-size: 40px;
        line-height: 1;
    }
}

h2 {
    @extend %rounded_h;
    font-size: 36px;

    @media (max-width: 768px) {
        font-size: 30px;
    }
}

h3 {
    @extend %rounded_h;
    font-size: 18px;

    @media (max-width: 768px) {
        font-size: 16px;
    }
}

.header a {
    color: $primary-font-color;
}

address {
    color: $secondary-font-color;
}